* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    background-color: #444444;
    padding: 16px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Criando 4 colunas */
    grid-template-rows: repeat(4, 1fr); /* Criando 4 linhas */
    gap: 16px;
}

.cabecalho {
    background-color: #cc2a2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: span 4; /* Oculpa as 4 colunas */
}

.lateral {
    background-color: #45cc2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: 4 / span 1; /* Primeiro colocamos em qual coluna queremos, depois o quanto de espaço */
    grid-row: 1 / span 3; /* Oculpa as 3 linhas */
}

.meio {
    background-color: #2aa6cc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}

.direita-cima {
    background-color: #352acc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: 3;
    grid-column: 1;
}

.direita-baixo {
    background-color: #cc2a96;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: 1;
    grid-row: 1 / span 2;
}